2025.09.23

In [ ]:
a = 1

def vartest(a):
    a = a + 1

print(vartest(a)) # return 값이 없기 때문에 값이 none이 된다.
print(a)

None
1

In [8]:
def vartest(a):
    a = a + 1

print(vartest(3))
print(a)

None
1

In [9]:
def vartest(a):
    a = a + 1
    return a

a = vartest(a)
print(a)

2

In [ ]:
def vartest():
    global a # a=1의 값을 완전히 바꾸는 함수(return 사용 권장)
    a = a + 5

print(a)
vartest()
print(a)

2
7

In [ ]:
r = (52, 255, 29, 132)
g = (52, 235, 29, 132)
b = (52, 255, 49, 132)

img = zip(r, g, b)
print(img)

<zip object at 0x000001898F5D1680>

In [ ]:
r = (52, 255, 29, 132)
g = (52, 235, 29, 132)
b = (52, 255, 49, 132)

zip_obj = zip(r, g, b) 
print(zip_obj) # 첫번째 답

img = list(zip_obj)
print(img) # 두번째 답

print(img[0]) # 세번째 답
print(type(img[0])) # 네번째 답

<zip object at 0x0000023E5A1A0500>
[(52, 52, 52), (255, 235, 255), (29, 29, 49), (132, 132, 132)]
(52, 52, 52)
<class 'tuple'>

In [3]:
f = ('apple', 'banana', 'cherry', 'date')

In [4]:
enumerate(f)

In [5]:
dict(enumerate(f))

{0: 'apple', 1: 'banana', 2: 'cherry', 3: 'date'}

In [6]:
enumerate(f,1)

In [9]:
dict(enumerate(f,1))

{1: 'apple', 2: 'banana', 3: 'cherry', 4: 'date'}

In [ ]:
my_list = [1, 2, 3, 4, 5] # -> [2, 3, 4, 5, 6]
mylist = []

for i in my_list:
    mylist.append(i +1)

print(mylist)

[2, 3, 4, 5, 6]

In [ ]:
def add_one(n):
    return n + 1

result = map(add_one, my_list)
result

In [16]:
list(map(add_one, my_list))

[2, 3, 4, 5, 6]

In [3]:
mylist = [ 3.14, -5.6, 100.4, 25.0 ]

result = list(map(round, mylist))
result

[3, -6, 100, 25]

In [5]:
aa = [8, 3, 2, 10, 15, 7, 1, 0, 11]
re = []
for i in aa:
    if i > 5 and i <10:
        re.append(i)
re

[8, 7]

In [ ]:
def f(x): # 위와 같지만 필터 함수 사용
    return x >5 and x <10
list(filter(f, aa))

[8, 7]

In [9]:
mylist = [1, 2, 3, 4, 5]
result = list(map(lambda x: x+1, mylist)) #lambda 사용 -> def 사용시 def add_one(n): return n+1
result

[2, 3, 4, 5, 6]