# 2025.09.22

In [17]:
# *로 트리 만들기
n = 10

for i in range(1, n + 1):
    for j in range(n-i):
        print(' ', end="")
    for j in range(2 *i-1):
        print('*', end="")
    print()

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [8]:
n = 10
for i in range(1, n+1):
    spaces = " "* (n-i)
    stars = "*" * (2 *i -1)
    print(spaces + stars)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [60]:
# 중첩반복문에서의 탈출
number = 0

for i in range(5):
    for j in range(5):
        print(f"(i = {i}, j = {j})")
        number = i * j
        if i == 2 and j == 3:
            break
    if i == 2 and j == 3:
        break
print(number)

(i = 0, j = 0)
(i = 0, j = 1)
(i = 0, j = 2)
(i = 0, j = 3)
(i = 0, j = 4)
(i = 1, j = 0)
(i = 1, j = 1)
(i = 1, j = 2)
(i = 1, j = 3)
(i = 1, j = 4)
(i = 2, j = 0)
(i = 2, j = 1)
(i = 2, j = 2)
(i = 2, j = 3)
6

In [ ]:
# 사용자로부터 n개의 별의 갯수를 입력받은 뒤
# 별을 출력하되 별의 갯수만큼만 출력하다가 별이 다 소진되면 멈추는 반트리
# 트리의 최대 높이는 10층

n = int(input())

star = 0
floor_max = False #스위치 같은것이라 생각하면 됨

for i in range(1, 11):
    for j in range(i):
        star += 1
        if star>n:
            floor_max = True
            break
        print("*", end="")
    if floor_max: #원래는star>n이 들어가도 되는데 for문이 많을 때는 그냥 변수 쓰는걸로
        break
    print()

*
**
***
****
*****
******
*******
**

In [76]:
mystr = "Hello, Python"

In [74]:
mystr[3] #문자열 인덱싱

'l'

In [77]:
mystr[-2] #문자열 음의 인덱싱

'o'

In [80]:
mystr[7:13] #문자열 여러가지 인덱싱

'Python'

In [82]:
mystr[7:]

'Python'

In [ ]:
mystr[::2] #슬라이싱(start:end:step)

'Hlo yhn'

In [ ]:
mystr[::-1] #거꾸로

'nohtyP ,olleH'

In [87]:
type(mystr)

str

In [89]:
len(mystr)

13

In [ ]:
for i in mystr: # range와 같은 바구니 역할을 할 수 있음
    print(i) #print("hello") 해보면 hello가 13개 나옴

H
e
l
l
o
,

P
y
t
h
o
n

In [93]:
for i  in range(len(mystr)):
    print(mystr[i])

H
e
l
l
o
,

P
y
t
h
o
n

In [94]:
mystr.lower()

'hello, python'

In [95]:
mystr.upper()

'HELLO, PYTHON'

In [101]:
words = mystr.split("P")
print(words)

['Hello, ', 'ython']

# 리스트

In [116]:
numbers1 = [1, 2, 3, 4, 5]
numbers2 = [6, 7, 8, 9, 10]

In [117]:
numbers1 + numbers2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [132]:
fruits = ['a','b','c']

In [113]:
mixed = [1, 'a', True, [10, 20, 30]]

In [119]:
fruits[:2]

['a', 'b']

In [133]:
fruits[0]="g" # 기존 값 수정

In [135]:
fruits

['g', 'b', 'c']

In [144]:
fruits.append("d") #기존 값에서 d추가

In [130]:
fruits

['g', 'b', 'f', 'c', 'd', 'd']

In [ ]:
fruits.insert(2,'f') #기존 값에 특정 위치에 f추가

In [127]:
fruits

['g', 'b', 'f', 'c', 'd']

In [136]:
fruits.extend(['o','p'])

In [137]:
fruits

['g', 'b', 'c', 'o', 'p']

In [138]:
fruits.pop(1)

'b'

In [139]:
fruits

['g', 'c', 'o', 'p']

In [140]:
fruits.remove("c")

In [141]:
fruits

['g', 'o', 'p']

In [142]:
fruits. index("o")

1

In [145]:
fruits

['g', 'o', 'p', 'd', 'd']

In [146]:
fruits.count("d")

2

In [147]:
fruits.remove("d")

In [148]:
fruits

['g', 'o', 'p', 'd']

In [150]:
fruits.append("a")

In [151]:
fruits.sort()

In [152]:
fruits

['a', 'd', 'g', 'o', 'p']

In [154]:
fruits.sort(reverse=True)

In [155]:
fruits

['p', 'o', 'g', 'd', 'a']

In [156]:
fruits.reverse()

In [157]:
fruits

['a', 'd', 'g', 'o', 'p']

In [158]:
for i in fruits:
    print(i)

a
d
g
o
p

In [160]:
for i in range(len(fruits)):
    print(f"{i}번째 과일{fruits[i]}")

0번째 과일a
1번째 과일d
2번째 과일g
3번째 과일o
4번째 과일p

In [161]:
numbers

[1, 2, 3, 4, 5]

In [162]:
max(numbers)

5

In [163]:
min(numbers)

1

In [164]:
sum(numbers)/len(numbers)

3.0

In [171]:
# 반복문을 이용해서 리스트를 간단하게생성 -> 리스트 컴프리헨션
numbers = [i for i in range(1, 11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [172]:
numbers = [i**2 for i in range(1, 11)]
numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [173]:
numbers = [i for i in range(1, 11) if i % 2 == 0]
numbers

[2, 4, 6, 8, 10]

In [ ]:
marks = [90, 25, 67, 45, 80]
번호 = 0

for i in marks:
    번호 += 1
    if i>=60:
        print(f"{번호}번 학생은 합격입니다.")
    else:
        print(f"{번호}번 학생은 불합격입니다.")

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [184]:
marks = [90, 25, 67, 45, 80]
for i in range(len(marks)):
    if marks[i]>=60:
        print(f"{i+1}번 학생은 합격입니다.")
    else:
        print(f"{i+1}번 학생은 불합격입니다.")

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [2]:
#끝말 잇기 게임
print("끝말잇기 게임")
print("시작")
var= "가나다"

print(var)
while True:
    마지막단어 = input()
    if 마지막단어[0] == var[-1]:
        print(f"단어를 입력해주세요 : {마지막단어}")
        var = 마지막단어
    else:
        print("땡")
        break

끝말잇기 게임
시작
가나다
단어를 입력해주세요 : 다람쥐
단어를 입력해주세요 : 쥐포
단어를 입력해주세요 : 포포
땡

In [ ]:
no1 = [1, 1, 3, 3, 0, 1, 1]

ans = []
comp = no1[0]
ans.append(comp)

for i in no1:
    if comp != i: #이전숫자와 같은지 비교
        comp = i #다르다면 비교할 숫자 갱신
        ans.append(comp) #새로운 숫자이므로 리스트에 삽입
ans

[1, 3, 0, 1]

In [14]:
student = {"name": "jimin", "age": 29, "hobby":"game"}

In [15]:
student

{'name': 'jimin', 'age': 29, 'hobby': 'game'}

In [16]:
type(student)

dict

In [19]:
student["age"]

29

In [21]:
student.keys()

dict_keys(['name', 'age', 'hobby'])

In [22]:
for i in student.keys():
    print(i)

name
age
hobby

In [23]:
for i in student.values():
    print(i)

jimin
29
game

In [25]:
for i in student.items():
    print(i)

('name', 'jimin')
('age', 29)
('hobby', 'game')

In [27]:
student["name"] = "망개떡"

In [28]:
student

{'name': '망개떡', 'age': 29, 'hobby': 'game'}

In [29]:
student["addr"] = "서울시 용산구"

In [30]:
student

{'name': '망개떡', 'age': 29, 'hobby': 'game', 'addr': '서울시 용산구'}

In [32]:
student.get("addr2")

In [33]:
student.popitem()

('addr', '서울시 용산구')

In [35]:
student

{'name': '망개떡', 'age': 29, 'hobby': 'game'}

In [36]:
"name" in student.keys()

True

In [43]:
29 in student.values()

True

In [ ]:
for i, j in student.items(): # i=key, j=value
    print(i,j)

name 망개떡
age 29
hobby game

In [45]:
#모스부호  
#문자열 letter가 주어질 때, letter를 영어 소문자로 바꾼 문자열을 출력 하도록 코드작성 
#모스부호는 다음과 같습니다. 

morse = { 

    '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 

    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 

    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 

    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 

    '-.--':'y','--..':'z' 

} 


#입출력 예 
#letter  result 
#.... . .-.. .-.. ---"  "hello" 
#".--. -.-- - .... --- -."   "python"

In [68]:
a = input().split()
for i in a :
    print(morse[i], end="")

hi

In [69]:
#set 자료형
s = {1, 2, 3, 4, 2, 3}

In [70]:
type(s)

set

In [71]:
s

{1, 2, 3, 4}

In [73]:
s.add(5)

In [74]:
s.pop()

1

In [75]:
s

{2, 3, 4, 5}

In [76]:
s.remove(3)

In [77]:
s

{2, 4, 5}

In [78]:
mystr = [1, 2, 3, 5, 1, 2, 3]

In [79]:
list(set(mystr))

[1, 2, 3, 5]

In [84]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

In [ ]:
a or b

In [82]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [85]:
a & b

{3, 4}

In [86]:
a.intersection(b)

{3, 4}

In [87]:
a-b

{1, 2}

In [88]:
a.difference(b)

{1, 2}

In [91]:
# 튜플
t1 = (1, 2, 3)

In [92]:
type(t1)

tuple

In [93]:
t1[0]

1

In [101]:
#빼빼로데이

#빼빼로의 종류는 6가지 맛('누드초코', '아몬드', '초코', '크런키', '크림치즈', '화이트쿠키')이 있었습니다.
#이벤트 빼빼로는 한가지 맛에 하나만 구매할 수 있습니다.
#구매한 빼빼로를 오름차순으로 정렬하여 결과를 나타내 주세요.

#입력1
["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

#출력1
['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [100]:
pepero = ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]
print(sorted(set(pepero)))

['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [103]:
#영단어갯수세기

#내가 외운 단어의 개수는 몇개일까요?

#입력1
#"culture experience symbol symbol education symbol effect education affair liberty liberty affair"

#출력1
#7

In [118]:
vo = "culture experience symbol symbol education symbol effect education affair liberty liberty affair"
len(set(vo.split( )))

7

In [122]:
# 함수
def myfunc(a):
    print(f"{a}, 내가 만든 함수입니다.")

In [127]:
myfunc("hi")
myfunc("hello")
myfunc("hey")

hi, 내가 만든 함수입니다.
hello, 내가 만든 함수입니다.
hey, 내가 만든 함수입니다.

In [128]:
def mysum(a,b):
    result = a + b
    return result

In [130]:
mysum(1234,32)

1266

In [131]:
num1 = mysum(3,4)
num2 = mysum(7,4)
print(num1, num2)

7 11

In [132]:
def nummx(a, b, c):
    if a>b>c:
        print(a)
    elif a>c>b:
        print(a)
    elif b>a>c:
        print(b)
    elif b>c>a:
        print(b)
    elif c>a>b:
        print(C)
    else:
        print(c)

In [141]:
def max_num(a, b, c):
    max_val = a
    if b > max_val:
        max_val = b
    if c > max_val:
        max_val = c
    return max_val

In [ ]:
nummx(-1,5,5) #내가 한거

5

In [ ]:
max_num(4,5,5) #선생님 한거

5

In [145]:
def num_min(arr):
    answer = arr[0]
    for i in arr:
        if answer > i:
            answer = i
    return answer

In [147]:
num_min([34,322,45,32])

32

In [151]:
def add_many(*args):
    print(args)

In [152]:
add_many(1,2)

(1, 2)

In [153]:
add_many(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)

In [168]:
def add_many(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

In [169]:
add_many(1, 2, 3, 4, 5)

15

In [166]:
def add_mul(choice, *args):
    print(choice, args)
    if choice == "add":
        re = 0
        for i in args:
            re += i
    else:
        re = 1
        for i in args:
            re *= i
    return re

In [167]:
add_mul("add", 1, 2, 3, 4, 5)

add (1, 2, 3, 4, 5)

15

In [170]:
def add_add_mul(a,b):
    return a+b, a*b

In [ ]:
add_add_mul(3,4) # 하나만 return 받을 수 있음(튜플 데이터로 변환되서 주기 때문)

(7, 12)

In [172]:
result1, result2 = add_add_mul(3,4)

In [173]:
result2

12

In [174]:
result1

7

In [186]:
def say_myself(name, age, man=True):
    print(f"{name},{age}")
    if man == True:
        print("남자")
    else:
        print("여자")

In [191]:
say_myself("박지민", 23, False)

박지민,23
여자